@import "general.css";

.contact{
    display: flex;
    flex-direction: row;
    margin: var(--mb-2);
    width: 100%;
    height: 65vh;
}

/* Contact Us Left */
.contact-left-container{
    color: var(--text-color-light);
    background-color: var(--container-color-dark);
    transition: all .5s ease;
}

.contact-left-container:hover{
    border-radius: var(--border-radius);
    box-shadow: 3px 3px 6px var(--text-color);
    transition: all .5s ease;
}

.contact-left{
    margin: var(--mb-1);
}

.contact-left-title{
    color: var(--text-color-light);
}

.contact-icon img{
    width: 30px;
}

.contact-card{
    margin: var(--mb-1);
}

.contact-card a{
    color: var(--text-color-light);
}

/* Contact Us Right */
.contact-right-container{
    background-color: var(--text-color-light);
    transition: all .5s ease;
}

.contact-right-container:hover{
    border-radius: var(--border-radius);
    box-shadow: 3px 3px 6px var(--text-color);
    transition: all .5s ease;
}

.contact-right{
    margin: var(--mb-1);
}

#contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#contact-form p{
    margin: var(--mb-0-25) 0;
}

#contact-form input{
    width: 70%;
}

#contact-form textarea{
    width: 90%;
}

#contact-form button{
    background-color: var(--container-color-dark);
    border: none;
    color: var(--text-color-light);
    border-radius: var(--border-radius);
    width: 80%;
    align-self: center;
    transition: all .5s ease;
}

#contact-form button:hover{
    color: var(--container-color-dark);
    background-color: var(--border-color);
    border: var(--border-width-bold) solid var(--container-color-dark);
    transition: all .5s ease;
}




