@import "general.css";

main{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo{
    width: 40%;
    margin: var(--mb-2-5);
    transition: all .5s ease;
}

#logo:hover{
    border-radius: var(--border-radius);
    box-shadow: 3px 3px 6px var(--text-color);
    transform: scale(1.05);
    transition: all .5s ease;
}