{% extends "home/base.html" %}

{% load static %}

{% block title %}
    OPTICS-TUTORIAL
{% endblock %}

{% block extra_stylesheet %}
    <link rel="stylesheet" href="{% static 'contents/unity.css' %}">
{% endblock %}

{% block content %}
    <div id="unity-container">
      <canvas id="unity-canvas"></canvas>
      <div id="unity-loading-bar">
        <div id="optics-logo"></div>
        <div id="unity-progress-bar-empty">
          <div id="unity-progress-bar-full"></div>
        </div>
      </div>
      <div id="unity-warning"> </div>
    </div>
    <script src="{% static 'contents/unity.template.js' %}"></script>
    <script src="{% static 'contents/unity.instance.js' %}"></script>
{% endblock %}