{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} OPTICS {% endblock %}</title>

    <link rel="icon" type="image/svg+xml" href="{% static 'resources/logo.svg' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'home/general.css' %}">
    {% block extra_stylesheet %} {% endblock %}
    {% block extra_script %} {% endblock %}
</head>
<body>
    <header>
        <a class="header-content" href="{% url 'home:about' %}">
			<img src="{% static 'resources/logo.svg' %}" alt="Logo">
		</a>
		<ul class="header-content header-list">
			<li>
                <a role="button" href="{% url 'home:about' %}">Home</a>
			</li>
            <li>
                <a role="button" href="{% url 'home:contact' %}">Contact Us</a>
			</li>
            <li>
                <a role="button" href="{% url 'contents:scene-list' %}">My Scene</a>
			</li>
            <li>
                <a role="button" href="{% url 'contents:tutorial-list' %}">Tutorial</a>
			</li>
		</ul>
        <div style="flex: 1 0 0;"></div>
        <div class="header-profile">
			<span>User Name</span>
            <a class="header-content" href="{% url 'accounts:register' %}">
                <img src="{% static 'resources/default_user.jpeg' %}" alt="user"/>
            </a>
		</div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>Copyright by Chuyue Zhang, Leo Hanxu, and Yang Chen</p>
    </footer>
</body>
</html>