{% extends "home/base.html" %}
{% load static %}

{% block title %}
    OPTICS-CONTACT
{% endblock %}

{% block extra_stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/contact.css' %}">
{% endblock %}

{% block content %}
    <div class="contact-container">
        <div class="contact">
            <div class="contact-left-container">
                <div class="contact-left">
                    <h2 class="contact-left-title">Get in Touch</h2>
                    <p class="contact-left-subtitle"> If you have any questions, ideas or concerns. Please contact&nbsp; us. </p>
                    <div class="">
                        <div class="contact-card">
                            <span class="contact-icon"><img alt="mail" src="{% static 'resources/icon_mail.png' %}"></span>
                            <h5 class="contact-icon-title">Chart to us</h5>
                            <p class="">Our friendly team is here to help.<br></p>
                            <a class="" href="mailto:zhangchuyue.zhang@mail.utoronto.ca">zhangchuyue.zhang@mail.utoronto.ca </a><br>
                            <a class="" href="mailto:jackchen.chen@mail.utoronto.ca">jackchen.chen@mail.utoronto.ca </a><br>
                            <a class="" href="mailto:leo.hanxu@mail.utoronto.ca">leo.hanxu@mail.utoronto.ca </a><br>
                        </div>
                        <div class="contact-card">
                            <span class="contact-icon"><img alt="location" src="{% static 'resources/icon_position.png' %}"></span>
                            <h5 class="">Office</h5>
                            <p class="">
                                Come say hello at professor's office.<br>
                                GB444, 40 St George St, M5S2E4,<br>Toronto, Ontario<br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-right-container">
                <div class="contact-right">
                    <h2 class="contact-right-title">Send Us Your Feedback!</h2>
                    <p class="contact-right-subtitle">
                        You can reach us anytime via the form
                    </p>
                    <div class="contact-form-container">
                        <form method="post" action="{% url 'home:contact' %}">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit">Send</button>
                            <div class="">
                                Thank you! Your message has been sent.
                            </div>
                            <input name="recaptchaResponse" type="hidden" value="">
                            <input name="formServices" type="hidden" value="fdc678b6-4357-4d21-4a6c-314bc3e809e5">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}