@import "general.css";

.contact-container{
    width: 80%;
}

.contact{
    display: flex;
    flex-direction: row;
    margin: var(--mb-2);
}

/* Contact Us Left */
.contact-left-container{

}

.contact-left{

}

.contact-left-title{

}

.contact-left-subtitle{

}

.contact-icon{

}

.contact-icon-title{

}



/* Contact Us Right */
.contact-right-container{

}

.contact-right{

}

.contact-right-title{

}

.contact-form-container{

}

.contact-form{

}


